<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Tour Packages</h1>
    <div class="packages">
        <a href="/views/india">Indian Tour Packages</a>
        <a href="/views/international">International Packages</a>
        <a href="/views/educational">Educational Packages</a>
        <a href="/views/devotional">Devotional Packages</a>
        <a href="/views/weekend">Weekend Tour Packages</a>
    </div>
</body>
</html>